// 601px or more
@media #{$medium-and-up} {

}

// 993px or more
@media #{$large-and-up} {

}

// 1200px or more
@media #{$extra-large-and-up} {
  // styles for extra large screens and up
}

// 992px or less
@media #{$medium-and-down} {
  main {
    .view-container {
      .projects {
        .project_list {
          .project.grid {width:calc((100% - 2rem) / 2);}
        }
      }
    }
  }
}

// 600px or less
@media #{$small-and-down} {
  .title {font-size:2rem;}
  nav {
    .nav-wrapper {
      .links {
      }
    }
  }
  main {
    .add_log_container.col {padding:1.5rem;}
    .view-container {
      padding:1.5rem;
      .projects, .logs {
        width:100%;
      }
      .projects {
        .project_list {
          .project {
            padding:0;
            &.grid {
              width:100%;
              margin:0.5rem 0;
            }
          }
        }
      }
      .logs {
        .title {
          font-size:1.5rem;
          .right, .left {margin-top:0;}
          .project_name {white-space: normal;}
        }
      }
    }
    .modal {width:90%;}
  }
}
